# Ignore all files with a specific extension
*.o
*.exe
*.win
# Ignore a specific file
mysecretfile.txt

# Ignore a specific directory and its contents
build/
node_modules/

# Ignore all files within a directory, but not the directory itself
temp/*

# Ignore files based on a pattern in their name
*~ # Ignore files ending with a tilde (common for backup files)